*~
.mailmap

.cache
.retry
.hide
roles
log
tmp
ext

try.yml
README.html
plugins/filter/*.pyc

# generated
ansible.cfg
ssh-config
vars/ext/
inventory/*.ext
inventory/group_vars/*/*-ext.yml
vault-pass.py
inventory/local
